/* CONTACT HERO SECTION */
.contact-hero {
  position: relative;
  height: 40vh;
  border-bottom: 5px solid var(--red);
  overflow: hidden;
}

/* BACKGROUND VIDEO */
#contactVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -2;
}

/* DARK OVERLAY */
.contact-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(0,0,0,0.45);
}


/* CONTACT INFO */
.contact-box {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.contact-box i {
  font-size: 2rem;
  color: var(--red);
  margin-right: 15px;
}

.contact-social a {
  font-size: 1.5rem;
  color: var(--red);
  margin-right: 15px;
  transition: .2s;
}
.contact-social a:hover {
  color: #111;
}

/* MAP */
.map-card {
  overflow: hidden;
  border-radius: 15px;
}

/* CTA */
.contact-cta {
  background: #b50d27;
}
